/* UserProfile.css */

.user-profile {
  position: relative;
  top: 98px;
  /* text-align: center; */
}

.paperwall-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./theUser.png);
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 20px;
}

.profile-info {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.profile-info > div {
  margin: 20px;
}

.profile-bio {
  margin-top: 20px;
}

.follow-row{
  background-color: rgb(104, 135, 181);
}

.info-row{
  margin-top: 20px;
}