.cblog {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
}

.cblog-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.cblog-header h2 {
  font-size: 24px;
  color: #333;
}

.cblog-header p {
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
  
}

.cblog-body {
  color: #666;
  line-height: 1.5;
}

.cblog-next, .author-info{
  padding-top: 20vh;
}

.cblog-next{
  padding-left: 2vw;

}
.author-info{
  padding-right: 2vw;
}

.Avatar{
  width: 20vw;
  height: 20vh;
  object-fit: contain;
  margin: 20px;
  
}
.author-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-details{
  color: #333;
}

.author-details h4{
  font-size: 25px;
  color: #333;
  text-align: center;

}