.sidebar {
    text-align: left;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 98px;
    padding: 10px 10px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.sidebar .nav-link {
    font-size: 0.8em;
    font-weight: 500;
    color: #553566;
}

.sidebar .nav-link:hover {
    color: #D46BCA;
}

.fontAwesome{
    margin-right: 0.5em;
}

