.Login-Button{
    background-color: #FAEFE6;
    display: block;
    padding: 20px;
}

.SW{
    border-radius: 1em;
    border-color: #553566;
    background-color: #553566;
}
.CL{
    color: #553566;
}
.TheName {
    height: 2em;
}

/* .loginTitle > h5{
    align-items: center;
} */