.Login-Button{
    background-color: antiquewhite;
    display: flex;
    
}

.Login-Button > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SW{
    margin: 20px;
    border-radius: 1em;
    padding: 10px;
    border-color: #553566;
    background-color: #553566;
    color: #ffff;
}
.CL{
    color: #553566;
}

