.Login-Button{
    background-color: #FAEFE6;
    display: flex;
    
}

.Login-Button > div{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.loginTitle{
   justify-content: center;
}

.SW{
    margin: 20px;
    border-radius: 1em;
    padding: 10px;
    border-color: #553566;
    background-color: #553566;
    color: #ffff;
}
.CL{
    color: #553566;
    font-size: 30px;
    margin-right: 5px;
}

.emailType_in{
    padding: 10px;
    justify-content: left;
}

.emailType_in > input, .passType_in > input{
    margin-left: auto; 
}

.btnContinue{
    justify-content: center;
}