.Login-Button{
    background-color: #FAEFE6;
    display: flex;
    padding: 20px;
}

.Login-Button > div{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.loginTitle{
   justify-content: center;
   align-items: center;
}

.SW{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 1em;
    padding: 10px;
    border-color: #553566;
    background-color: #553566;
    color: #ffff;
}
.CL{
    color: #553566;
    font-size: 30px;
    margin-right: 5px;
}

.emailType_in, .passType_in{
    display: flex;
    padding: 10px;
    align-content: center;
}

.emailType_in > input, .passType_in > input{
    margin-left: auto;
}

.emailType_in > h5, .passType_in > h5{
    color: #553566;
}

.btnContinue, .btnContinue > p{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}