body{
    background-color: antiquewhite;
}

.subContent {
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    padding: 7vh;
}

.content >div > h1{
    color: #C19167;
}


.content{
    justify-content: center;
    align-items: center;
    display: flex;

}



.myGIF{
    height: 80%;
    align-items: center;
    border: 4px dashed #553566;
    border-radius: 1em;
   
}

