.Writing{
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    padding: 20px 20px;
}

.writeTitle, .writeContent{
    margin-bottom: 20px;
}

.Writing > .form-control{
    font-size: 100px;
}