

.writing-form{
    padding: 118px 20px 20px 20px;

}

.form-control.writeTitle{
    font-size: 20px;
    margin-bottom: 20px;
}

.writeContent{
    height: 300px;
    margin-bottom: 20px;
}

.emailType_in input, .passType_in input {
    overflow-wrap: break-word;
}