
.ad-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D46BCA;
    padding: 1em 1em;
    background-color: #FAEFE6;
}

.theLogo{
    height: 4em;
    margin-right: 1em;
}

.theName {
    height: 2em;
}

.lists {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.lists >li{
    padding: 1em;
}

.signIn{
    margin: 1em;
    border-radius: 1em;
    padding: 10px;
    border-color: #553566;
    background-color: #553566;
    color: #ffff;
}

.search-box{
    background: white;
    border-radius: 20px;
}

.search-box .search-text{
    border: none;
    outline: none;
    background: none;
    font-size: 13px;
    padding: 0px;
    width: 0;
    transition: all 0.2s ease-in-out;
}

.search-box:hover > .search-text, .search-box > .search-text:valid
{
    width: 240px;
    padding: 10px 0px 10px 15px;
}

.search-box .search-btn{
    background-color: white;
    border: none;
    border-radius: 50%;
    outline: none;
    background: none;
    padding: 15px;
    font-size: 13px;
    cursor: pointer;
}